dl.page-manager-list {
	margin: 0;
	overflow: hidden;
}

dl.page-manager-list dt {
	height: 20px;
	padding: 5px;
}

dl.page-manager-list dd {
	padding: 5px 0;
	margin: 0;
	position: relative;
}

dl.page-manager-list dd div.page-item-container {
	position: relative;
}

dl.page-manager-list dd div.page-item-container .clearance {
	height: 0;
	line-height: 0;
	font-size: 0;
	clear: both;
}

dl.page-manager-list div.page-item-container div.page-link-container {
	font-size: 12px !important;
	margin: 0 0 0 25px;
}

dl.page-manager-list dd dl {
	margin: 5px 0 0;
	position: relative;
}

dl.page-manager-list dd dd {
	margin: 0 0 0 20px;
}

dl.page-manager-list dd.has-children {
	padding: 5px 0 0;
}

dl.page-manager-list dd.stripe-odd {
	background: #eee;
}

dl.page-manager-list dd.stripe-even {
	background: #ddd;
}

dl.page-manager-list div.controls {
	float: right;
	background: none;
	border: none;
	padding: 0 5px 0 0;
	margin: 0;
}

dl.page-manager-list div.controls a {
	font-size: 10px;
	line-height: 16px;
	height: 16px;
	padding: 1px 10px;
}

form#page-form label {
	float: none;
	width: auto;
	text-align: left;
}

form#page-form .field-container label {
	float: left;
}

form#page-form textarea {
	width: 620px;
}

form#page-form .meta-data textarea {
	height: 60px;
}

form#page-form span.instructions {
	margin: 8px 0 0;
}

fieldset.page-list-container div.page-list-content {
	position: relative;
	margin: 8px 0 0;
}

.page-manager-list div.drag-handle {
	float: left;
	width: 15px;
	height: 15px;
	padding: 5px 0 0 5px;
	/* From ui-icon-triangle-2-n-s, but tweaked to best fit the size of the draggable icons */
	background-position: -124px -14px;
	text-indent: -3000em;
	cursor: move;
}
